html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.landing-page {
  background-color: #2d1044;
}

.title {
  font-family: Roboto;
  color: white;
}

.login {
  color: white;
}

.filler {
  background-color: #2d1044;
}

.landing-page-btnbox {
  background-color: silver;
  width: 20%;
  height: 20vh;
  text-align: center;
}